*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
}

#editor, #preview {
    width: 100%;
    height: 50%;
    overflow: auto;
}

@media only screen and (min-width: 992px) {
    .wrapper {
        flex-direction: row;
    }

    #editor, #preview {
        width: 50%;
        height: 100%;
        overflow: auto;
    }
}

#editor {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#code, #compiler, #settings {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
}

#preview {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "."
    "."
    ".";
}

.metrics {
    display: grid;
}

.metric div {
    padding-right: 5px;
    display: inline-flex;
}

#code-output, #compiler-output {
    margin-top: 10px;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}



.inputOutputTest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
}

.inputOutputTest textarea {
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    max-height: 80px;
    height: 80px;
}
